{% extends "./frame.html" %}
{% load static %}
{% block content %}
		<section class="breadcrumb-section">
			<h2 class="sr-only">Site Breadcrumb</h2>
			<div class="container">
				<div class="breadcrumb-contents">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="breadcrumb-item active">FAQ</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>

		<!-- faq Page Start -->
		<div class="faq-area inner-page-sec-padding-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner text-center">
							<h1>GENERAL QUESTION</h1>
						</div>
					</div>
				</div>
				<div class="row mbn-30">
					
					<div class="col-lg-6 col-12">
						<!--FAQ (Accordion) Start-->
						<div class="accordion" id="gq-faqs-1">
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-1">Доставка</button></h5>
								</div>
								<div id="gq-faq-1" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<pre>В отделение Новой почты
Адреса и графики работы отделений на сайте Новой почты.

Срок доставки: 2-4 рабочих дня

Стоимость доставки и упаковки заказов:

на сумму от 690 грн — 1 грн
на сумму до 690 грн — 60 грн
Как только ваш заказ будет отправлен в выбранное отделения Новой почты,
вы получите уведомление. Обратите внимание, что сумма заказа не может
превышать 10 000 грн.

Сервисы:

отслеживание отправления на сайте КСД или на сайте Новой почты;
оповещение о прибытии;
мобильное приложение: карта клиента, оповещение об изменении статуса
отправления и т.п.;
бесплатное хранение отправления до 7 дней (потом посылка будет
возвращена в КСД).
Если вы не пользуетесь мобильным приложением оператора доставки,
то для получения посылки необходимо указать номер накладной и
предъявить документ, удостоверяющий личность.
</pre>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-2">Оплата</button></h5>
								</div>
								<div id="gq-faq-2" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<pre>На сайте можно оплатить заказ с помощью платежной карты Visa или MasterCard.
Оплата заказа платежной картой может быть осуществлена из любой точки мира. При условии, что карта, телефон и устройство, с которого вы зашли на наш сайт, зарегистрированы в одной и той же стране.
Оплата должна осуществляться только через Корзину нашего интернет–магазина. Следуйте подсказкам и инструкциям во время оплаты. Сайт bookclub.ua не хранит и не передает данные платежных карт. Информация по платежным ведомостям пользователей вводится на защищенной странице UAPAY, что соответствует стандартам информационной безопасности PCI DSS 3.2 и гарантирует полную безопасность ваших данных. После оплаты вы получите сообщение об успешной операции и оповещение про статус вашего заказа.
Обратите внимание! После оплаты картой вы не сможете изменить состав своего заказа. Поэтому обязательно проверяйте его перед отправкой в обработку.</pre>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-3">Donec molestie vitae turpis a efficitur ?</button></h5>
								</div>
								<div id="gq-faq-3" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-4">Nullam dignissim lectus diam, vitae elementum ?</button></h5>
								</div>
								<div id="gq-faq-4" class="collapse" data-parent="#gq-faqs-1">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
						</div><!--FAQ (Accordion) End-->
					</div>
					
					<div class="col-lg-6 col-12 accordion-2">
						<!--FAQ (Accordion) Start-->
						<div class="accordion" id="gq-faqs-2">
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-5">Lorem ipsum dolor sit amet, consectetur adipisc ?</button></h5>
								</div>
								<div id="gq-faq-5" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-6">Vivamus feugiat, eros pretium porta ?</button></h5>
								</div>
								<div id="gq-faq-6" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-7">Donec molestie vitae turpis a efficitur ?</button></h5>
								</div>
								<div id="gq-faq-7" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
							<!--Cart Start-->
							<div class="card">
								<div class="card-header">
									<h5 class="mb-0"><button class="collapsed" data-toggle="collapse" data-target="#gq-faq-8">Nullam dignissim lectus diam, vitae elementum ?</button></h5>
								</div>
								<div id="gq-faq-8" class="collapse" data-parent="#gq-faqs-2">
									<div class="card-body">
										<p>Proin libero tellus, interdum ac pellentesque ac, malesuada a velit. Nullam fermentum massa nec sem condimentum, fermentum commodo felis accumsan.</p>
									</div>
								</div>
							</div><!--Cart End-->
							
						</div><!--FAQ (Accordion) End-->
					</div>
					
				</div>
			</div>
		</div>
		<!-- faq Page End -->
	</div>
{% endblock %}